.h1{
    margin-top:40px;
}
@media(max-width:520px){
    .h1{
      font-size:25px;
    }
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
iframe{
    border: none;
    width: 100%;
}